body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;
    height: 100%;
    overflow: hidden;
    color: rgb(230,175,128);
}

.clock {
    font-size: 60px;
    display: flex;
    flex-direction: row;
}

.dateday {
    padding: 80px 12px 0 0;
}

.info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}

#weekday {
    color: white;
    margin: -8px;
    font-size: 20px;
}

#day {
    margin: 0;
    font-size: 30px;
}

#pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 1.0;
    }
    50% { 
        opacity: 0.8;
    }
    70% {
        opacity: 0.6;
    }
    90% {
        opacity: 0.4;
    }
    100% { 
        opacity: 0.8;
    }
}

.lamp {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* display: flex;
    flex-direction: row */
}

#on {
    height: 100px;
    /* position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%); 
    transition: 0.2s; */
}

#on:hover {
    cursor: pointer;
    /* height: 110px; 
    transition: 0.2s; */
}

#off {
    height: 100px;
    /* position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s; */
}

#off:hover {
    cursor: pointer;
    /* height: 110px;
    transition: 0.2s; */
}